<h2>Meus Heróis</h2>

<ul>
  <li
    [class.selected]="hero === selectedHero"
    *ngFor="let hero of heroes"
    (click)="onSelectHero(hero)"
  >
    {{ hero.nome }}
  </li>
</ul>

<h2>{{ selectedHero?.nome | uppercase }} Detalhes</h2>
<p>
  <span>Id: {{ selectedHero?.id }}</span>
</p>
<p>
  <span>Nome: {{ selectedHero?.nome }}</span>
</p>

<div>
  <label for="nome">Nome do herói:</label>
  <input
    type="text"
    id="nome"
    *ngIf="selectedHero"
    [(ngModel)]="selectedHero.nome"
    placeholder="Nome do herói"
  />
</div>
